p# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
190617 121015/1.jpg
Myo/.idea/Myo.iml
Myo/.idea/modules.xml
Myo/.idea/misc.xml
Myo/.idea/inspectionProfiles/profiles_settings.xml
Myo/.idea/workspace.xml
.idea/workspace.xml
*.idea*
# =========================
# Programs, etc.
# =========================
DataGathering/Leap/config.py
DataGathering/Leap/config.pyc
*.pyc
*/hmmlearn/*
Myo/tests/test_data/*
Myo/tests/test_data/myo_data/*
Myo/data/*
*/log/*
*log
*/data/* # TODO: Remove this
*_data/*
DataGathering/*
DataGathering/Data\ Gatherer/HANDGRDataGatherer/*
DataGathering/Data Gatherer/HANDGRDataGatherer/LightBuzz.Vitruvius.FingerTracking/bin/Debug/LightBuzz.Vitruvius.FingerTracking.pdb
DataGathering/Data Gatherer/HANDGRDataGatherer/LightBuzz.Vitruvius.FingerTracking/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataGathering/Data Gatherer/HANDGRDataGatherer/HANDGRDataGatherer/bin/Debug/HANDGRDataGatherer.exe
DataGathering/Data Gatherer/HANDGRDataGatherer/HANDGRDataGatherer/bin/Debug/HANDGRDataGatherer.exe
*.exe
*.pdb